<div class="jumbotron">
  <h1 class="display-4">Your information</h1>
</div>
<div>
  <div class="form-container">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="username">Username</label>
        <input type="text" class="form-control" id="username" [value]="user.username" disabled>
      </div>
      <div class="form-group col-md-6">
        <label for="userEmail">Email</label>
        <input type="text" class="form-control" id="userEmail" [value]="user.email" disabled>
      </div>
    </div>
  </div>
  <form class="form-container" (ngSubmit)="onSubmit()" [formGroup]="userForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="clientModifyCountry">Country</label>
        <input type="text" class="form-control" id="clientModifyCountry" placeholder="Country" formControlName="country">
      </div>
      <div class="form-group col-md-6">
        <label for="phone">Phone</label>
        <input type="number" class="form-control" id="phone" placeholder="Your phone number" formControlName="phone">
      </div>
      <div class="form-group col-md-6">
        <label for="website">Website</label>
        <input type="text" class="form-control" id="website" placeholder="Your Website" formControlName="website">
      </div>
      <div class="form-group col-md-6">
        <label for="clientModifyAddress">Address</label>
        <input type="text" class="form-control" id="clientModifyAddress" placeholder="1234 Main St" formControlName="address">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="clientModifyCity">City</label>
        <input type="text" class="form-control" id="clientModifyCity" formControlName="city">
      </div>
      <div class="form-group col-md-4">
        <label for="clientModifyState">State</label>
        <input type="text" class="form-control" id="clientModifyState" formControlName="state">
      </div>
      <div class="form-group col-md-2">
        <label for="clientModifyZipCode">Zip code</label>
        <input type="number" class="form-control" id="clientModifyZipCode" formControlName="zipCode">
      </div>
    </div>
    <div *ngIf="!userForm.get('zipCode').valid && userForm.get('zipCode').touched" class="alert alert-danger" role="alert">
      Zip code should be number and more thant 5 length.
    </div>
    <div *ngIf="userUpdated" class="alert alert-success" role="alert">
      Your information is successfully updated!
    </div>
    <button type="submit" class="btn btn-success mr-1" [disabled]="!userForm.valid">Save</button>
  </form>
</div>
