<div class="box">
  <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
    <div class="form-group">
      <label for="loginUsername">Username</label>
      <input type="text" class="form-control" id="loginUsername" placeholder="Enter username" ngModel name="username" required>
    </div>
    <div class="form-group">
      <label for="loginPassword">Password</label>
      <input type="password" class="form-control" id="loginPassword" placeholder="Password" ngModel name="password" required>
    </div>
    <div *ngIf="hasError" class="alert alert-danger" role="alert">
      Some of your information isn't correct
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Login</button>
  </form>
</div>
